.mside{
	display: inline-block;
  	height: 100%;
  	position: fixed;
}

.contenedor{
	margin-left: 16.6%;
}

#sidebar {
    color: #fff;
    transition: all 0.3s;
}
#sidebar a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .btnMenuLtr,
.btnMenuLtr:hover,
.btnMenuLtr:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a i{
    float: right;
}

#sidebar ul li a:hover {
    background: #61707F;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle-lm="collapse"] {
    position: relative;
}

.dropdown-toggle-lm::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343a40;
}

#sidebar ul li .btnMenuLtr {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.btnMenuLtr {
    margin: 0;
    border: none;
    font-size: 0.9em !important;
    text-align: left;
    padding-left: 30px !important;
    background: #343a40;
    width: 100%;
}

.btnMenuLtr:hover {
    background: #61707F;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
